.footer-main {
    width: 100%;
    position: relative;
    height: 25vh;
    margin-top: -25vh;
    clear: both;
    /* min-height:10em; */
    background: #213142;
    color: #fff !important;
    text-align: center;
    padding: 1.2rem;
}

.container {
    margin: 2rem auto 0 auto;
    width: 70vw !important;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.logo {
    height: 5rem;
    width: 5rem;
}

.footerBtn {
    background: #71A068 !important;
}

.link-col {
    text-align: left !important;
}

.link-col li::before {
    content: "> ";
}

.margin-bottom-reset {
    margin-bottom: 0 !important;
}

.footer-nav, .footer-nav:hover{
    color: #fff;
}