:root {
	--light-green: #2a9d8f;
	--dark-green: #264653;
	--btn-green: #175a52;
	--heading-blue: #264653;
	--orange: #f4a261;
	--orange-bg: rgba(244, 162, 97, 0.36);
}

.footer {
	background: var(--dark-green);
	height: 19em;
	&__container {
		display: flex;
		justify-content: space-between;
		align-self: space-evenly;
		height: 91%;
		&__text,
		&__logo {
			width: 20%;
		}
		&__text {
			margin-left: 15em;
			align-self: flex-start;
		}
		&__text__word {
			margin-top: 1em;
			font-size: 2.5em;
			color: rgba(255, 255, 255, 0.2) !important;
			// outline: 1px solid red;
		}
		&__logo {
			margin-right: 10em;
			align-self: flex-end;
			justify-items: flex-end;
			margin-bottom: 1em;
			&__priv {
				font-size: 1.8em;
				color: #fff;
			}
		}
	}
	&__xpc {
		width: 100%;
		height: 9%;
		display: flex;
		background: #fff;
		justify-content: center;
		align-items: flex-end;
	}
}
