.footer-main {
	width: 100%;
	position: relative;
	height: auto;
	clear: both;
	/* min-height:10em; */
	background: #213142;
	color: #fff !important;
	text-align: center;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;

}

.footer__container {
	margin: 2rem auto 1rem auto;
	/* width: 100%; */
	max-width: 1200px;
	display: flex;
	justify-content: center;

}

.logo {
	height: 5rem;
	width: 5rem;


}

.footerBtn {
	background: #71a068 !important;
	color: #fff !important;
	margin-top: 1rem !important;
}

.list-unstyled{
	list-style: none;
}

.footer-nav-links{
	margin-top: 5px;
}

.link-col {
	text-align: left !important;
}

.link-col li::before {
	content: "> ";
}

.margin-bottom-reset {
	margin-bottom: 0 !important;

}

.footer-nav,
.footer-nav:hover {
	color: #fff;

}

.col{
	margin-left: 10px;
	margin-right: 10px;
	width: 25%;

}
