* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
}

.hashLoader__container {
	display: flex;
	position: fixed;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #213142;
}

.hashLoader {
	color: #fff;
}

.heading,
h1,
h2,
h3 {
	font-family: "Plantin", sans-serif !important;
	font-weight: 700 !important;
	color: #213142;
}

.sans-heading,
h4,
h5,
h6 {
	font-family: "Rubik", sans-serif !important;
	font-weight: 700 !important;
	color: #213142;
}

body {
	font-family: "Rubik", sans-serif !important;
	color: #213142;
}

.footer__divider {
	max-width: 50px;
	max-height: 50px;
	display: inline-block;
	position: absolute;
	width: 20vw;
	height: 20vw;
	background: #fff;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	z-index: 1;
}

.LoggedIn__Module__Container {
	display: flex;
}

.App__MenuOpen__button {
	margin: 1rem;
	transition: opacity 400ms ease-in-out, transform 800ms ease-in-out, margin 800ms ease-in-out;
}

.App__MenuOpen__button.hidden {
	opacity: 0;
	transform: scaleX(0);
	margin-left: 0px;
	margin-right: 0px;
}

a {
	text-decoration: none;
}