.RSDPModuleLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    img{
        width: 30vw;
        height: auto;
        max-width: 100px;
        margin: 0 0 5vh 0;
    }
}