.contact-page {
	width: 100vw;
	/* min-height: 80vh; */
	display: flex;
	align-items: center;
	flex-direction: column;

	padding-top: 3rem;
}

.contact {
	display: flex;
	flex-direction: column;
	text-align: center;

	margin-top: 3rem;

	width: 100%;
	max-width: 800px;

	height: 80vh;

	/* outline: 1px solid red; */

}

.contact-header {
	margin-left: 35rem;
}

.contact-form {
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 5rem;
}

.input, .input-select {
	
	margin: 0 auto !important;
	padding: 0.5rem !important;
	border: 1px solid #000 !important;
	border-radius: 10px !important;
	width: 30ch !important;
	height: 6.7ch !important;
}

.input-select{
	margin-top: -1px !important;
}

.label {
	margin: 0 2.5rem 2.5rem 2.5rem;
}

.textarea,
option {
	padding: 0.5rem;
	border: 1px solid #000 !important;
	border-radius: 10px !important;
}

.submitBtn {
	background: #71a068 !important;
	margin-top: 1rem !important;
	margin-left: 25rem !important;
	color: #fff !important;
}

.contact-message{
	padding: 2rem;
	margin-top: 5rem;
	border-radius: 10px;
	box-shadow: 13px 15px 22px -10px rgba(167, 167, 167, 0.75);
	background: #FAFAFA;
}

@media (max-width: 870px) {
	.contact-header {
		text-align: center;
		margin-left: 0;
	}

	.contact-form {
		flex-direction: column;
		margin-bottom: 5rem !important;
	}

	.contact{
		margin-bottom: 20rem;
	}

	.textarea {
		width: 80%;
	}

	.submitBtn {
		/* margin-right: 20px !important; */
		margin-top: 0 !important;
		margin-left: 0 !important;
		/* width: 50px; */
	}
}

/* .link {
	border: 1px solid green !important;
} */
