.contact-page {
	width: 100vw;
	/* min-height: 80vh; */
	display: flex;
	align-items: center;
	flex-direction: column;

	padding-top: 3rem;
}

.contact {
	display: flex;
	flex-direction: column;
	text-align: center;

	margin-top: 3rem;

	width: 100%;
	max-width: 800px;
}

.contact-header {
	margin-left: 35rem;
}

.contact-form {
	height: auto;
	flex-direction: column;
}

.input {
	margin: 0 auto;
	padding: 0.5rem;
	border: 1px solid #000 !important;
	border-radius: 10px !important;
	width: 30ch !important;
	height: 4ch !important;
}

.label {
	margin: 0 2.5rem 2.5rem 2.5rem;
}

.textarea,
option {
	padding: 0.5rem;
	border: 1px solid #000 !important;
	border-radius: 10px !important;
}

/* .textarea{
	width: 70ch;
	height: 10ch;
} */

.submitBtn {
	background: #71a068 !important;
	margin-top: 1rem !important;
	margin-left: 25rem !important;
}

@media (max-width: 870px) {
	.contact-header {
		text-align: center;
		margin-left: 0;
	}

	.contact-form {
		flex-direction: column;
		margin-bottom: 3rem;
	}

	.textarea {
		width: 80%;
	}

	.submitBtn {
		margin-top: 0 !important;
		margin-left: 0 !important;
	}
}

/* .link {
	border: 1px solid green !important;
} */
