.ModulesCompleted {
    position: relative;
}

.ModulesCompleted__container {
    width: 80%;
    position: relative;
    margin: 1rem auto;
}

.ModulesCompleted__bar {
    position: relative;
}

.ModulesCompleted__container__bar {
    width: 80%;
    position: relative;
    margin: 1rem auto;
}

.ModulesCompleted__progress__bar {
    max-width: 156px;
    max-height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 60vw;
    height: 16px;
    background: #ccc;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.ModulesCompleted__progress__bar__level {
    max-width: 150px;
    max-height: 20px;
    display: block;
    position: relative;
    width: 60vw;
    height: 10px;
    background: #2a9d8f;
    /* margin: 0 auto 0 0; */
    border-radius: 10px;
    /* margin-bottom: 3rem; */
    transition: width ease-in-out 300ms;
    margin: 0 3px;
}

.ModulesCompleted__text {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    margin: 5px 0;
}

.ModulesCompleted .item h2 {
    text-align: center;
    position: absolute;
    line-height: 125px;
}

.ModulesCompleted .item {
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModulesCompleted svg {
    transform: rotate(-90deg);
}

.ModulesCompleted .circle_animation {
    /* stroke-dasharray: 440; */
    /* stroke-dashoffset: 440; */
}

.ModulesCompleted .html .circle_animation {
    transition: all 0.8s ease-in-out;
}

@keyframes html {
    to {
        stroke-dashoffset: 180;
    }
}