@media (min-width:1000px) {
    .ModulesCompleted {
        max-width: 10vw;
        max-height: 10vw;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container {
        max-width: 10vw;
        max-height: 10vw;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container .item {
        max-width: 10vw;
        max-height: 10vw;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container svg {
        max-width: 10vw;
        max-height: 10vw;
        height: 100%;
        width: 100%;
    }
}

@media (max-width:1000px) {
    .ModulesCompleted {
        max-width: 15vw;
        max-height: 15vw;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container {
        max-width: 15vw;
        max-height: 15vw;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container .item {
        max-width: 15vw;
        max-height: 15vw;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container svg {
        max-width: 15vw;
        max-height: 15vw;
        height: 100%;
        width: 100%;
    }
}

@media (max-width:700px) {
    .ModulesCompleted {
        max-width: 20vw;
        max-height: 20vw;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container {
        max-width: 20vw;
        max-height: 20vw;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container .item {
        max-width: 20vw;
        max-height: 20vw;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container svg {
        max-width: 20vw;
        max-height: 20vw;
        height: 100%;
        width: 100%;
    }
}

@media (max-width:350px) {
    .ModuleTree__header {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .ModulesCompleted {
        max-width: 100px;
        max-height: 100px;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container {
        max-width: 100px;
        max-height: 100px;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container .item {
        max-width: 100px;
        max-height: 100px;
        height: 100%;
        width: 100%;
    }

    .ModulesCompleted__container svg {
        max-width: 100px;
        max-height: 100px;
        height: 100%;
        width: 100%;
    }
}