@import '../../breakpoints.scss';
.ModuleButton{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    z-index: 1;
    @include media("<=900px"){
        width: 80vw;
    }
    @include media("<=400px"){
        width: 90vw;
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25px auto;
        flex-wrap: wrap;
        padding: 0 50px;
        max-width: 70vw;
        @include media("<=800px"){
            flex-direction: column;
            padding: 0;
            max-width: unset;
        }
        
        button{
            margin: 10px 0;
            padding: 10px 30px;
            background: #2A9D8F;
            color: #fff;
            font-family: 'roboto';
            font-weight: 700;
            border-radius: 15px;
            outline: 0px;
            box-shadow: none;
            border: none;   
            font-size: 20px;
            width: 20vw;
            flex-basis: calc(50% - 10px);
            transition: background ease-in-out 200ms;
            @include media("<=900px"){
                
                font-size: 20px;
                border-radius: 10px;
                padding: 5px 15px;
            }
            @include media("<=800px"){
                width: 40vw;
                margin-top: 20px;
            }
            @include media("<=500px"){
                
                font-size: 16px;
                border-radius: 10px;
                padding: 5px 15px;
            
            }
            
            &.active{
                background: #fff;
                outline:#175a52 2px solid;
                color: #175a52;
            }
            &:hover{
                background: #175a52;
            }

            &:first-of-type{
                margin-right: 10px;
                @include media("<=800px"){
                    margin-right: 0px;
                }
            }
            &:last-of-type{
                margin-left: 10px;
                @include media("<=800px"){
                    margin-left: 0px;
                }
            }
        }
        @include media("<=500px"){
            margin: 0;
        
        }
    }

    &__buttons__1x3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25px auto;
        flex-wrap: wrap;
        // padding: 0 50px;
        max-width: 70vw;
        @include media("<=900px"){
            max-width: 90%;
            width: 100%;
        }
        @include media("<=800px"){
            flex-direction: column;
            padding: 0;
            max-width: unset;
        }
        
        button{
            margin: 10px 0;
            padding: 10px 20px;
            background: #2A9D8F;
            color: #fff;
            font-family: 'roboto';
            font-weight: 700;
            border-radius: 15px;
            outline: 0px;
            box-shadow: none;
            border: none;   
            font-size: 20px;
            width: 20vw;
            flex-basis: calc(33% - 10px);
            word-wrap: none;
            transition: background ease-in-out 200ms;
            @include media("<=1000px"){
                
                font-size: 20px;
                border-radius: 10px;
                padding: 5px 15px;
            }
            @include media("<=800px"){
                width: 40vw;
                margin-top: 20px;
            }
            @include media("<=500px"){
                
                font-size: 16px;
                border-radius: 10px;
                padding: 5px 15px;
            
            }

            &:hover{
                background: #175a52;
            }

            &:first-of-type{
                margin-right: 10px;
                @include media("<=800px"){
                    margin-right: 0px;
                }
            }
            &:last-of-type{
                margin-left: 10px;
                @include media("<=800px"){
                    margin-left: 0px;
                }
            }
            &.active{
                background: #fff;
                outline:#175a52 2px solid;
                color: #175a52;
            }
        }
        @include media("<=500px"){
            margin: 0;
        
        }
    }

    &__modal{
        min-width: 100%;
        padding: 20px 20px;
        background: #ffffff;
        position: relative;
        margin-top: 5vh;
        border-radius: 15px;
        top: 100%;
        border: #ffffff solid 1px;
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
        z-index: 2;
        display: flex;
        flex-direction: column;
        @include media("<=1300px"){
                
            border-radius: 10px;
            }
        div{
            position: relative;
            display: flex;
            background: #ffffff;
            width: 100%;
            height: 35px;
            border-radius: 50px;
            justify-content: space-between;
            align-items: center;

            svg{
                color: #ffffff;
                fill: #ffffff;
                width: 100%;
                height: 100%;
            }
        }


    }
}