@import "../../../breakpoints.scss";
.module1 {
	max-width: 70vw !important;
	margin: 0 auto;

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		&__top {
			margin: 5em 0 4em 0;
			text-align: left;
			h1 {
				margin-bottom: 1em;
			}
			p {
				font-size: 1.2em;
				margin-top: 1em;
				span {
					color: var(--light-green) !important;
					font-weight: 800 !important;
				}
			}
		}
		&__text {
			display: flex;
			flex-direction: row;
			margin-bottom: 5em;
			&__left,
			&__right {
				width: 50%;
				min-height: 30vh;
			}
			&__left {
				text-align: left;
				padding: 0 5vw 0 1vw;
				h4 {
					color: var(--light-green);
					font-size: 1.5em;
				}
				h3 {
					color: var(--heading-blue);
					font-size: 2.4em;
					font-weight: 300 !important;
				}
			}
			&__right {
				display: flex;
				flex-wrap: wrap;
				align-content: flex-end;
				margin-left: 10vw;
				// border-bottom: 6px dotted var(--orange-bg);
				h3 {
					text-align: left;
					font-weight: 300 !important;
					margin-top: 1em;
					font-size: 1.4em;
				}
			}
		}
		&__beans {
			display: flex;
			box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.16);
			border-radius: 15px;
			margin: 0 auto 5em auto;
			width: 100%;
			min-height: 22em;
			flex-direction: column;
			flex-wrap: wrap;
			h1 {
				margin: 1em 0 1em 0;
			}
			&__icons {
				display: flex;
				justify-content: space-evenly;
				&__heading1 {
					margin-left: 3.8em !important;
				}
				&__img1 {
					h4 {
						color: #fff;
						width: 6em;
						margin: -9em 0 0 5em;
					}
				}
				&__img2 {
					h4 {
						color: #fff;
						width: 6em;
						margin: -8em 0 0 3.4em;
					}
				}
				&__img3 {
					h4 {
						color: #fff;
						width: 6em;
						margin: -8em 0 0 2.5em;
					}
				}
			}
		}
		&__tips {
			margin-bottom: 3em;
			h1 {
				color: var(--light-green);
				text-align: left;
				font-weight: 400;
				border-bottom: 6px dotted var(--orange-bg);
				width: 7ch;
				margin-bottom: 1em;
			}
			p {
				font-size: 1.4em;
				text-align: left;
			}
		}
	}
}

@media (max-width: 1200px) {
	.module1__body__text {
		flex-direction: column;
		&__right,
		&__left {
			width: 100%;
			min-height: 1px;
			margin: 0;
			text-align: center !important;
		}
		&__right {
			margin-top: 4em;
		}
	}
	.module1__body__beans {
		width: 100%;
		&__icons {
			flex-direction: column !important;
			align-items: center !important;
			justify-content: flex-start;
			min-height: 40em;
			img {
				margin-bottom: 6em;
			}
			h4 {
				transform: translate(-5%, -160%);
			}
		}
	}
}

@media (max-width: 500px) {
	.module1__body__beans {
		box-shadow: none;
	}
}
