.Landing {}

.hero__section {
    height: 60vh;
    width: 100vw;
    background: url('../../assets/hero_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text {
    font-size: 3rem;
    font-weight: 700;
}

.about__section {
    margin: -10rem 7rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.about__section div {
    margin: 10rem 0rem 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.about__section div button {
    margin: 2rem 0 0 0;
    padding: 5px 20px;
    background: #71A068;
    border-radius: 20px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
}

.module__section {}

.module__grid {}

.module__grid__item {}

.howto__section {}

.howto__text {}