.Landing {}

.hero__section {
    height: 50vh;
    background: url('../../assets/hero_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text {
    font-size: 3rem;
    font-weight: 700;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.about__section {
    margin-top: -10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.about__section div {
    margin: 10rem 0rem 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.about__section div button {
    margin: 2rem 0 0 0;
    padding: 5px 20px;
    background: #71A068;
    border-radius: 20px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    border: none;
    outline: none;
}

.module__section {
    background: #213142;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
    margin-top: 2rem;
}

.module__section__content {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.module__section h2 {
    text-align: center;
    margin: 1rem auto 2rem;
    font-weight: 700;
}

.module__grid {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.module__grid__item {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.module__grid__item img {
    height: 100px !important;
    width: 100px !important;
}

.module__grid__item .module__grid__item__text {
    margin: 0 1rem;
}

.howto__section {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 4rem 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}

.howto__text {
    align-self: flex-end;
    flex: 3;
    width: auto;
}

.howto__text h2 {
    color: #0E1B31;
    font-size: 2.5rem;
    font-weight: 700;
    word-break: keep-all;
}

.howto__section .computerImage {
    flex: 1;
    padding: 0 5vw;
    max-width: 40vw;
}

.bgimg {
    position: absolute;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30vw;
    height: 30vw;
}



.info__section {
    padding: 2rem 2rem;
}

.info__section h5 {
    text-align: center;
    margin: 2rem 0 5rem 0;
    font-weight: 700;
}

.info__section__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__section__points__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info__section__point {
    display: flex;
    margin: 1rem 0;
}

.computerImage {
    max-width: 500px;
    width: 100%;
    margin: 2rem;
}