.faq-container {
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
}

.faq-info {
	margin-bottom: 5rem;
}

.faq-dropdown {
	border-radius: 10px;
	box-shadow: 13px 15px 22px -10px rgba(167, 167, 167, 0.75);
	background: #FAFAFA;
	min-width: 50%;
	margin-bottom: 4rem;
	/* min-height: 50%; */
}

.faq-drop-heading {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.faq-drop-heading>h1 {
	text-decoration: 6px underline #2a9d8f;
}

.faq {
	margin: 15px;
	padding: 15px;
	border-bottom: 1px solid #707070;
}

.faq .faq-question {
	position: relative;
	font-size: 20px;
	padding-right: 80px;

	transition: all 0.4s ease;

	cursor: pointer;

	padding-left: 45px;
}


.faq .faq-question::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	margin-right: 1rem;

	background-image: url('../../assets/question-mark-faq.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

}

.faq .faq-question::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;

	background-image: url('../../assets/faq-arrow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	transition: all 0.4s ease-out;
}

.faq .faq-answer {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4s ease-out;
	cursor: pointer;
}

.faq.open .faq-question {
	margin-bottom: 15px;
}

.faq.open .faq-question::after {
	transform: translateY(-50%) rotate(90deg);
}

.faq.open .faq-answer {
	max-height: 1000px;
	opacity: 1;
}

.faq-contact-container {
	display: flex;
	justify-content: flex-end;

	margin: 2rem;
}
.faq-contact{
	cursor: pointer;
}

.faq-pi {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 20%;
}

@media (max-width: 1000px) {
	.faq-container {
		/* margin-left: -7%; */
	}

	.faq-pi {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 4rem;
		position: relative;
	}

}