.ModuleTree {
    margin-top: 1rem;
    width: 100%;
    z-index: 2;
}

.ModuleTree__header {
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ModuleTree__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ModuleTree__Tree {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    position: relative;
}

.ModuleTree__Tree__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.ModuleTree__Tree__row--duo {
    justify-content: space-evenly;
}

.ModuleTree__Tree_item {}

.ModuleTree__Tree_item img {
    max-height: 10vh;
}

.Mod1 img {}

.ModuleTree__Line {
    width: 100px;
    height: 20px;
    background: #ccc ;
    z-index: -1;
    position: absolute;
    transform: rotate(90deg) translateX(50%);
}

.M45 {
    width: 180px;
    transform: translate(100px, 35px) rotate(-45deg);
}

.P45 {
    width: 180px;
    transform: translate(-100px, 35px) rotate(45deg);
}

.TopLineM45 {
    width: 180px;
    transform: translate(100px, -35px) rotate(45deg);
}

.TopLineP45 {
    width: 180px;
    transform: translate(-100px, -35px) rotate(-45deg);
}

/* .modal__container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
} */