.modulefront {
	background-image: url("../../assets/v2/about-dec-1.svg");
	background-position: top;
	background-position-y: 6em;
	background-position-x: 80%;
	background-repeat: no-repeat;
	max-width: 80vw;
	margin: 0 auto 8em auto;
	display: flex;
	flex-direction: column;
	align-self: center;
	&__head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 10em;
		&__left,
		&__right {
			width: 50%;
			// outline: 1px solid red;
		}
		&__left {
			&__h4 {
				color: var(--light-green);
				font-size: 1.5em;
				font-weight: 200;
			}
			&__h3 {
				color: var(--dark-green);
				font-size: 5em;
				padding-right: 1em;
			}
		}
		&__right {
			&__img {
				width: 40em;
				margin-top: 6em;
			}
		}
	}
	&__body {
		&__banner {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin-bottom: 4em;
			&__img,
			&__shape {
				border-radius: 15px;
				min-height: 60vh;
				width: 50%;
			}
			&__shape {
				background: var(--dark-green);
				margin: 50px 0 0 -110px;

				background-image: url("../../assets/v2/module-style.svg");
				background-position: center;
				background-position-y: 10%;
				background-position-x: 90%;
				background-repeat: no-repeat;

				color: #fff;
				font-size: 1.7em;
				&__text {
					padding: 2em;
				}
			}
		}
		&__modules {
			text-align: center;
			h1 {
				color: var(--light-green);
				font-size: 3.5em;
			}
			span {
				color: #000 !important;
			}
			&__list {
				margin-top: 5em;
				&__first {
					display: flex;
					flex-direction: rows !important;
					margin-bottom: 6em;
					&__left {
						width: 60%;
						h3 {
							border-radius: 15px;
							background-color: var(--orange-bg);
							color: var(--orange);
							width: 10em;
							height: 2em;
							padding-top: 0.3em;
							font-size: 1em;
						}
						h2 {
							text-align: left;
							color: var(--light-green);
							font-size: 2em;
						}
						p {
							text-align: left;
							font-size: 1.4em;
						}
					}
					&__right {
						width: 40%;
						display: flex;
						justify-content: center;
						flex-direction: row;
						img {
							height: 19em;
							width: 20em;
							border-radius: 50px;
						}
						&__shape {
							border-radius: 50px;
							z-index: -1;
							min-width: 10em;
							height: 10em;
							background: var(--light-green);
							color: #fff;
							margin: -1em 0 1em -9em;
							font-size: 2em;
						}
					}
				}
				&__second {
					display: flex;
					flex-direction: rows !important;
					margin-bottom: 6em;
					&__left {
						width: 40%;
						display: flex;
						justify-content: center;
						flex-direction: row;
						img {
							height: 19em;
							width: 20em;
							border-radius: 50px;
						}
						&__shape {
							border-radius: 50px;
							z-index: -1;
							width: 10em;
							background: var(--light-green);
							color: #fff;
							margin: -1em 0 1em -9em;
							font-size: 2em;
						}
					}
					&__right {
						width: 60%;
						h3 {
							border-radius: 15px;
							background-color: var(--orange-bg);
							color: var(--orange);
							width: 10em;
							height: 2em;
							padding-top: 0.3em;
							font-size: 1em;
						}
						h2 {
							text-align: left;
							color: var(--light-green);
							font-size: 2em;
						}
						p {
							text-align: left;
							font-size: 1.4em;
						}
					}
				}
			}
			&__features {
				margin-bottom: 10em;
				h3 {
					border-radius: 15px;
					background-color: var(--orange-bg);
					color: var(--orange);
					width: 10em;
					height: 2em;
					padding-top: 0.3em;
					font-size: 1em;
					margin: 0 auto;
				}
				h1 {
					color: #000;
				}
				&__icons {
					display: flex;
					justify-content: space-evenly;
					h4 {
						color: #fff;
						width: 6em;
						margin: -8em 0 0 2em;
					}
					&__heading1 {
						margin-left: 3.8em !important;
					}
				}
			}
			&__quote {
				background: var(--dark-green);
				padding: 10em 16em 10em 16em;
				border-radius: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 10em;
				h2,
				h3,
				h4 {
					color: #fff;
				}
			}
			&__bottom {
				h1 {
					color: #000 !important;
					font-size: 3em;
					margin-bottom: 0.5em;
				}
				input {
					background: var(--light-green);
					color: #fff;
					border: none;
					border-radius: 10px;
					font-size: 1.2em;
					width: 10em;
					height: 1.6em;
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.modulefront {
		&__head {
			&__left {
				width: 100%;
				margin: 0 auto;
			}
			&__right {
				display: none;
			}
			h3 {
				font-size: 3em;
			}
			img {
				display: none;
			}
		}
		&__body {
			&__banner {
				display: flex;
				justify-content: center;
				&__img {
					display: none;
				}
				&__shape {
					margin: 0 !important;
					width: 90%;
					min-height: 0 !important;
					font-size: 1.3em;
					text-align: center;
				}
			}
			&__modules {
				&__list {
					&__first {
						// padding-top: 10em;
						display: flex;
						flex-direction: column-reverse !important;
						margin-bottom: 10em;
						&__left {
							width: 100%;
							height: auto;
						}
						&__right {
							transform: translateY(50%);
							justify-content: flex-end;
							width: 100%;
							img {
								height: 8em;
								width: 10em;
							}
							&__shape {
								margin: 0 !important;
								height: 4em;
								min-width: 5em !important;
								margin: -0.5em 0 1em -4.5em !important;
							}
						}
					}
					&__second {
						display: flex;
						flex-direction: column !important;
						&__left {
							width: 100%;
							transform: translateY(-20%);
							justify-content: flex-end;
							img {
								height: 8em;
								width: 10em;
							}
							&__shape {
								margin: 0 !important;
								height: 4em;
								max-width: 5em !important;
								margin: -0.5em 0 1em -4.5em !important;
							}
						}
						&__right {
							margin-top: -5em;
							width: 100%;
						}
					}
				}
				&__features {
					h3 {
						border-radius: 15px;
						background-color: var(--orange-bg);
						color: var(--orange);
						width: 10em;
						height: 2em;
						padding-top: 0.3em;
						font-size: 1em;
						margin: 0 auto;
					}
					h1 {
						color: #000;
					}
					&__icons {
						margin-top: 2em;
						min-height: auto;
						display: flex;
						flex-direction: column;
						align-items: center;
						&__img2 {
							// margin: 5em 0 5em -90% !important;
							margin-top: 5em;
						}
						&__img3 {
							// margin-left: 50% !important;
							margin-top: 8em;
						}
						&__heading2 {
							// transform: translateY(-150%) translateX(-90%);
						}
						&__heading3 {
							// transform: translateY(150%) translateX(90%);
						}
					}
				}
				&__quote {
					padding: 5em 8em 5em 8em;
				}
			}
		}
	}
}
@media (max-width: 450px) {
	.modulefront__body__modules__list {
		&__first__left,
		&__second__right {
			h3 {
				width: 8em;
			}
		}
		&__first__right,
		&__second__left {
			&__shape,
			img {
				margin: 0 -2em 2em 0;
			}
		}
	}
}
