.modulefront {
  background-image: url("../../assets/v2/about-dec-1.svg");
  background-position: top;
  background-position-y: 6em;
  background-position-x: 80%;
  background-repeat: no-repeat;
  max-width: 80vw;
  margin: 0 auto 8em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.modulefront__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10em;
}

.modulefront__head__left, .modulefront__head__right {
  width: 50%;
}

.modulefront__head__left__h4 {
  color: var(--light-green);
  font-size: 1.5em;
  font-weight: 200;
}

.modulefront__head__left__h3 {
  color: var(--dark-green);
  font-size: 5em;
  padding-right: 1em;
}

.modulefront__head__right__img {
  width: 40em;
  margin-top: 6em;
}

.modulefront__body__banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4em;
}

.modulefront__body__banner__img, .modulefront__body__banner__shape {
  border-radius: 15px;
  min-height: 60vh;
  width: 50%;
}

.modulefront__body__banner__shape {
  background: var(--dark-green);
  margin: 50px 0 0 -110px;
  background-image: url("../../assets/v2/module-style.svg");
  background-position: center;
  background-position-y: 10%;
  background-position-x: 90%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 1.7em;
}

.modulefront__body__banner__shape__text {
  padding: 2em;
}

.modulefront__body__modules {
  text-align: center;
}

.modulefront__body__modules h1 {
  color: var(--light-green);
  font-size: 3.5em;
}

.modulefront__body__modules span {
  color: #000 !important;
}

.modulefront__body__modules__list {
  margin-top: 5em;
}

.modulefront__body__modules__list__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: rows !important;
          flex-direction: rows !important;
  margin-bottom: 6em;
}

.modulefront__body__modules__list__first__left {
  width: 60%;
}

.modulefront__body__modules__list__first__left h3 {
  border-radius: 15px;
  background-color: var(--orange-bg);
  color: var(--orange);
  width: 10em;
  height: 2em;
  padding-top: 0.3em;
  font-size: 1em;
}

.modulefront__body__modules__list__first__left h2 {
  text-align: left;
  color: var(--light-green);
  font-size: 2em;
}

.modulefront__body__modules__list__first__left p {
  text-align: left;
  font-size: 1.4em;
}

.modulefront__body__modules__list__first__right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modulefront__body__modules__list__first__right img {
  height: 19em;
  width: 20em;
  border-radius: 50px;
}

.modulefront__body__modules__list__first__right__shape {
  border-radius: 50px;
  z-index: -1;
  min-width: 10em;
  height: 10em;
  background: var(--light-green);
  color: #fff;
  margin: -1em 0 1em -9em;
  font-size: 2em;
}

.modulefront__body__modules__list__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: rows !important;
          flex-direction: rows !important;
  margin-bottom: 6em;
}

.modulefront__body__modules__list__second__left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modulefront__body__modules__list__second__left img {
  height: 19em;
  width: 20em;
  border-radius: 50px;
}

.modulefront__body__modules__list__second__left__shape {
  border-radius: 50px;
  z-index: -1;
  width: 10em;
  background: var(--light-green);
  color: #fff;
  margin: -1em 0 1em -9em;
  font-size: 2em;
}

.modulefront__body__modules__list__second__right {
  width: 60%;
}

.modulefront__body__modules__list__second__right h3 {
  border-radius: 15px;
  background-color: var(--orange-bg);
  color: var(--orange);
  width: 10em;
  height: 2em;
  padding-top: 0.3em;
  font-size: 1em;
}

.modulefront__body__modules__list__second__right h2 {
  text-align: left;
  color: var(--light-green);
  font-size: 2em;
}

.modulefront__body__modules__list__second__right p {
  text-align: left;
  font-size: 1.4em;
}

.modulefront__body__modules__features {
  margin-bottom: 10em;
}

.modulefront__body__modules__features h3 {
  border-radius: 15px;
  background-color: var(--orange-bg);
  color: var(--orange);
  width: 10em;
  height: 2em;
  padding-top: 0.3em;
  font-size: 1em;
  margin: 0 auto;
}

.modulefront__body__modules__features h1 {
  color: #000;
}

.modulefront__body__modules__features__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modulefront__body__modules__features__icons h4 {
  color: #fff;
  width: 6em;
  margin: -8em 0 0 2em;
}

.modulefront__body__modules__features__icons__heading1 {
  margin-left: 3.8em !important;
}

.modulefront__body__modules__quote {
  background: var(--dark-green);
  padding: 10em 16em 10em 16em;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10em;
}

.modulefront__body__modules__quote h2,
.modulefront__body__modules__quote h3,
.modulefront__body__modules__quote h4 {
  color: #fff;
}

.modulefront__body__modules__bottom h1 {
  color: #000 !important;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.modulefront__body__modules__bottom input {
  background: var(--light-green);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  width: 10em;
  height: 1.6em;
}

@media (max-width: 1200px) {
  .modulefront__head__left {
    width: 100%;
    margin: 0 auto;
  }
  .modulefront__head__right {
    display: none;
  }
  .modulefront__head h3 {
    font-size: 3em;
  }
  .modulefront__head img {
    display: none;
  }
  .modulefront__body__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modulefront__body__banner__img {
    display: none;
  }
  .modulefront__body__banner__shape {
    margin: 0 !important;
    width: 90%;
    min-height: 0 !important;
    font-size: 1.3em;
    text-align: center;
  }
  .modulefront__body__modules__list__first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    margin-bottom: 10em;
  }
  .modulefront__body__modules__list__first__left {
    width: 100%;
    height: auto;
  }
  .modulefront__body__modules__list__first__right {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .modulefront__body__modules__list__first__right img {
    height: 8em;
    width: 10em;
  }
  .modulefront__body__modules__list__first__right__shape {
    margin: 0 !important;
    height: 4em;
    min-width: 5em !important;
    margin: -0.5em 0 1em -4.5em !important;
  }
  .modulefront__body__modules__list__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .modulefront__body__modules__list__second__left {
    width: 100%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .modulefront__body__modules__list__second__left img {
    height: 8em;
    width: 10em;
  }
  .modulefront__body__modules__list__second__left__shape {
    margin: 0 !important;
    height: 4em;
    max-width: 5em !important;
    margin: -0.5em 0 1em -4.5em !important;
  }
  .modulefront__body__modules__list__second__right {
    margin-top: -5em;
    width: 100%;
  }
  .modulefront__body__modules__features h3 {
    border-radius: 15px;
    background-color: var(--orange-bg);
    color: var(--orange);
    width: 10em;
    height: 2em;
    padding-top: 0.3em;
    font-size: 1em;
    margin: 0 auto;
  }
  .modulefront__body__modules__features h1 {
    color: #000;
  }
  .modulefront__body__modules__features__icons {
    margin-top: 2em;
    min-height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modulefront__body__modules__features__icons__img2 {
    margin-top: 5em;
  }
  .modulefront__body__modules__features__icons__img3 {
    margin-top: 8em;
  }
  .modulefront__body__modules__quote {
    padding: 5em 8em 5em 8em;
  }
}

@media (max-width: 450px) {
  .modulefront__body__modules__list__first__left h3, .modulefront__body__modules__list__second__right h3 {
    width: 8em;
  }
  .modulefront__body__modules__list__first__right__shape,
  .modulefront__body__modules__list__first__right img, .modulefront__body__modules__list__second__left__shape,
  .modulefront__body__modules__list__second__left img {
    margin: 0 -2em 2em 0;
  }
}
/*# sourceMappingURL=Module.css.map */