.Module__Page__Wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    font-size: 1.2rem;
}

.Module__Page__Header__Modules {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin: 5rem 4rem 1rem !important;
}

.Module__Page__Header__Text {
    display: flex;
    flex-direction: column;
}

.Module__Page__Body {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Module__Page__Video__Container {
    max-width: 100%;
    position: relative;
    padding: 4rem;
}

.Module__Page__Video__Container video {
    max-width: 100%;
}

.Module__Page__Text {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
}

.Module__Page__LearningPoints {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 4rem 2rem;
}

.Module__Page__LearningPoints>p {
    margin: 1rem 0;
}

.h2 {
    width: 100%;
    text-align: left;
    margin: 1rem 0;
}

.Module__Page__Point {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
}

.Module__Page__Point__Header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Module__Page__Point__Header h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #565788;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    height: 40px;
    width: 40px;
    margin-bottom: 0;
    margin-right: 1rem;
}

.Module__Page__Point__Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 5rem 1rem;
}

.Module__Page__Activity__Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 0 2rem; */
}

.Module__Page__Activity__Header {
    margin: 1rem 0;
    width: 100%;
    margin: 2rem 4rem 1rem;
}

.Module__Page__Activity__Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 5rem 0 5rem;
}

.Module__Page__Btn__Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem 4rem 2rem auto;
}

.Module__Page__Btn__Container button {
    margin: 2rem 0 0 0;
    padding: 5px 20px;
    background: #71A068;
    border-radius: 20px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
}

