.Modules {
	padding-top: 8rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ModuleHeader {
	display: flex;
}

.wheel {
	top: 0;
	left: 0;
	width: 50rem;
	margin-top: -300px;
	margin-left: -220px;
}

.ModuleBtn {
	background: #71a068 !important;
	color: #fff !important;
}

.right {
	margin-right: 10rem;
	margin-left: 10rem;
}

.right > h1 {
	font-size: 4rem;
	margin-top: 1rem;
}

.cards {
	display: flex;
	width: 80%;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 5rem !important;

	margin: 0 auto;
}

.card-1 {
	display: flex;
}

.card-2 {
	display: flex;
	flex-direction: row-reverse;
}

.right,
.left {
	width: 50%;
}

.cards img {
	width: 5rem;
}

.ModuleImg {
	width: 25rem !important;
	margin: 0 2rem 0 2rem;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url("../../assets/Banner.png");
	background-size: cover;
	height: 386px;
	width: 100%;
}

.banner > h2 {
	display: flex;
	font-size: 4rem;
}

.info {
	display: flex;
	margin-bottom: 0 !important;
	height: 604px;
}

.infoText {
	margin-top: 5rem;
}

.infoImg {
	height: 604px;
}

.divider {
	margin-top: 5rem;
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
	min-height: 20rem;
	background: #565788;
	color: #fff;
	display: flex;
	padding-bottom: 2rem;
}

.divLeft > h1 {
	padding-left: 10rem;
	margin-top: -9rem;
}

.divLeft::before {
	content: open-quote;
	font-size: 10rem;
	color: #71a068;
	line-height: 15rem;
	margin-left: 3rem;
}

.divRight {
	width: 20%;
	padding-top: 4rem;
	padding-right: 1rem;
	text-align: center;
}

.divRight > img {
	width: 8rem;
	margin-bottom: 10px;
}

.coreValues {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	/* outline: 1px solid red; */
}

.careContent {
	justify-content: space-evenly;
}

.coreContent > h1 {
	font-size: 4rem;
	text-align: center;
}

.coreIcons {
	display: flex;
	justify-content: space-evenly;
	width: 60vw;
}
.coreIconsText {
	display: flex;
	justify-content: space-evenly;
	width: 60vw;
	font-size: 2rem;
}

.coreIcons > svg {
	width: 8rem;
	height: 8rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.coreIcons > svg:nth-child(2) {
	color: #71a068;
}
