.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 5rem;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	margin: 1rem 2rem 2rem 0;
	top: 0;
	z-index: 99999;
}

.nav {
	display: flex;
	width: 100%;
}

.nav-link {
	font-size: 1rem;
	color: #000;
	margin: 0 1.5rem 0 1.5rem;
	text-decoration: none;
	list-style-type: none;
}

.nav-link:hover {
	color: red;
}

.nav-logo-div {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.nav-logo {
	width: 5rem;
	height: 5rem;
}