/* Navbar styling */

/* Logo width and height */
.logo{
    height: 5rem;
    width: 5rem;
}

/* Nav text color */
.navbar-light .navbar-nav .nav-link{
    color: #000!important;
}

/* Nav text on hover */
.navbar-light .navbar-nav .nav-link:hover{
    color: red!important;
}

.nav-link{
    margin: 0 1.5rem 0 1.5rem;
}

.navbar{
    width:50%;
    margin-left: 35%;
    min-height: 10vh!important;
    /* background: #000; */
}