.NavbarItems {
    background: transparent;
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: -5rem;
    padding-top: 2rem;
    z-index: 9999;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-image{
    width: 5rem;
    height: 5rem;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 75vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* .nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
} */

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 700px) {
    .NavbarItems {
        position: relative;
        background: green;
        background: #6668f4;
        height: 7rem;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        margin-top: 1em;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        color: #fff !important;
    }

    .nav-links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 0.8rem;
        /* transform: translate(25%, 50%); */
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .menu-image{
        width: 5rem;
        height: 3rem;
        position: absolute;
        top: 1em;
        right: 1em;
    }

    /* .fa-times {
        color: #fff;
        font-size: 2rem;
    } */

    /* .fa-bars, .fa-times{
        display: flex;
        width: 3rem;
        height: 1rem;
        border: 1px solid #fff;
        border-radius: 15px;
    }

    .fa-bars::before, .fa-times::before{
        display: flex;
        width: 3rem;
        height: 1rem;
        border: 1px solid #fff;
        border-radius: 15px;
    }

    .fa-bars::after, .fa-times::after{
        display: flex;
        width: 3rem;
        height: 1rem;
        border: 1px solid #fff;
        border-radius: 15px; */
}