/* Logo width and height 
.logo {
	height: 5rem;
	width: 5rem;
}

/* Nav text on hover 
.navbar-light .navbar-nav .nav-link:hover {
	color: red !important;
}

.nav-link {
	margin: 0 1.5rem 0 1.5rem;
	/* color: #000 !important; *
	font-weight: 700;
}

.navbar {
	/* width: 50%; *
	right: 0;
	margin: 1rem;
	background-color: rgba(255, 255, 255, 0);
	position: absolute !important;
	/* color: #000 !important; *
	flex-direction: column;
	/* left: 55%; *
	right: 0;
	text-align: center;
}

.navbar-toggler {
	background: #f3f3f3;
	margin-bottom: 0.2rem;
}

@media (max-width: 991px) {
	a {
		background: #f3f3f3 !important;
	}

	a:nth-child(1) {
		border-color: rgba(0, 0, 0, 0.1);
		border-radius: 1rem 1rem 0 0;
	}

	a:nth-last-child(1) {
		border-radius: 0 0 1rem 1rem;
	}

	.nav-link {
		color: #000 !important;
	}

	.navbar-collapse .collapse .show {
		border: 1px solid red !important;
		border-radius: 20px !important;
	}} */
