.Module__Page {
}

.Module__Page__Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	position: relative;
	height: 60vh;
}

.ModuleBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 70vw;
	height: 70vw;
	transform: translate(-50%, -50%);
}

.Module__Page__Header__Wheels {
	position: relative;
	max-width: 40vw;
	width: 100%;
	height: 100%;
}

.Module__Page__Header__Wheels img {
	/* position: absolute;
	top: 0;
	left: 0;
	transform: translate(-45%, -50%); */
	min-width: 30vw;
	min-height: 30vw;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.Module__Page__Header__Text {
	max-width: 40vw;
	width: 100%;
	z-index: 2;
}

.Module__Page__Header__Text h1 {
	font-size: 2rem;
}

.Module__Page__Header__Text p {
	font-size: 1.2rem;
	line-height: 2rem;
}

.Module__Page__Header__Text__btn {
	margin: 2rem 0 0 0 !important;
	padding: 5px 20px !important;
	background: #71a068 !important;
	border-radius: 20px !important;
	color: #fff !important;
	font-size: 1.3rem !important;
	font-weight: 700 !important;
	border: none !important;
	outline: none !important;
	display: flex !important;
	justify-content: center;
	align-items: center;
	/* text-align: center !important; */
}

.Module__Page__Header__Text__btn:hover {
	/* background: #6877a0 !important; */
}

.Module__Page__Body {
	display: flex;
	flex-direction: column;
}

.Module__Page__Items {
	display: flex;
	flex-direction: column;
	padding: 0 4rem;
	/* margin-top: 20rem; */
}

.Module__Page__Item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Module__Page__Item > div {
	margin: 1rem 2rem;
}

.Module__Page__Item:nth-of-type(even) {
	flex-direction: row-reverse;
}

.Module__Page__Item:nth-of-type(odd) .Module__Page__Item__Text {
	padding: 0 2rem 0 0;
}

.Module__Page__Item:nth-of-type(even) .Module__Page__Item__Text {
	padding: 0 0 0 2rem;
}

.Module__Page__Item__Text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 0 2rem;
	max-width: 40vw;
	width: 100%;
}

.Module__Page__Item__Text img {
	max-height: 75px;
	max-width: 75px;
	margin: 1rem 0;
}

.Module__Page__Item__Text h2 {
	margin: 1rem 0;
	color: #0e1b31;
}

.Module__Page__Item__Text p {
	font-size: 1.1rem;
	line-height: 1.8rem;
}

.Module__Page__Item__Img {
	width: 100%;
	max-width: 40vw;
}

.Module__Page__Item__Img img {
	height: 100%;
	max-height: 40vh;
	border-radius: 6px;
}

.Module__Page__Quote {
	position: relative;
	z-index: 999;
	margin: 4rem 0 0 0;
}

.Module__Page__Quote__Container {
	background: #565788;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 10rem;
	height: 40vh;
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
	position: relative;
	z-index: 1;
}

.Module__Page__Quote__BG {
	position: absolute;
	top: 0;
	left: 15%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.Module__Page__Quote__Container > h3 {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
	width: 70%;
	text-align: center;
}

.Module__Page__Quote__Image {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	color: #fff;
}

.Module__Page__Quote__Image > h3 {
	margin: 1rem 0 0.5rem;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	width: 100%;
	text-align: center;
}

.Module__Page__About {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: -5rem 0 0;
}

.Module__Page__About > p {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 2rem;
	line-height: 2.6rem;
	font-size: 1.2rem;
	font-weight: 400;
}

.Module__Page__CTA {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url("../../assets/Banner.png");
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 30vh;
	margin-top: -5rem;
}

.Module__Page__CTA__btn {
	margin: 2rem 0 0 0 !important;
	padding: 5px 20px !important;
	background: #71a068 !important;
	border-radius: 20px !important;
	color: #fff !important;
	font-size: 1rem !important;
	font-weight: 700 !important;
	border: none !important;
	outline: none !important;
	display: flex !important;
}

.Module__Page__CTA h1 {
	color: #0e1b31;
}

.Module__Page__Values {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 4rem 0;
	width: 100%;
}

.Module__Page__Values h1 {
}

.Module__Page__Values__Items {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 4rem;
}

.Module__Page__Values__Item {
	width: 150px;
	/* height: 150px; */
	margin: 0 1rem;
}

.Module__Page__Values__Item svg {
	width: 100% !important;
	height: 100% !important;
	fill: #888888;
}

.Module__Page__Values__Item h2 {
	text-align: center;
	color: #213142;
	font-size: 1.8rem;
	margin: 0.5rem 0 1rem 0;
}

.Module__Page__Values__Item svg:hover {
	fill: #71a068;
}

.Module__Page__Values__Item--Check {
}

.Module__Page__Values__Item--Arrow {
}

.Module__Page__Values__Item--Gear {
}

.Module__Page__Values__Item--Bulb {
}
